<%- include('../partials/header') %>

<h2>Take a look at the posts!</h2>
<div>
    <div>
        <div>Title:</div>
        <div>Content:</div>
    </div>
    <% posts.forEach(function(p) { %>
    <div>
        <div><%= p.title %></div>
        <br />
        <div><%= p.content %></div>
        <br />
        <div><a href="/posts/<%= p._id %>">Show comments</a></div>
        <div><form action="/posts/<%= p._id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit" id="delete-post">X</button>
        </form></div>
    </div>
    <% }); %>
</div>

<%- include('../partials/footer') %>