<%- include('../partials/header') %>

    <section id="show-page">
        <div class="post-card">
            <div class="user-post-show"><img alt="avatar" src="<%= post.userAvatar %>" referrerpolicy="no-referrer" ><%= post.userName %> </div>
            <div id="post-title"><strong><%= post.title %></strong></div>
            <div><%- post.content %></div>
        </div>

        <div class="likes-wrapper">
            <!-- Show how many likes/dislikes a post has -->
            <div>
                <form action="/posts/<%= post._id %>/like" method="POST">
                    <button type="submit" class="post-buttons" title="likes"><%= likesCount %> likes</button>
               </form>
            </div>
   
            <div>
                <form action="/posts/<%= post._id %>/dislike" method="POST">
                    <button type="submit" class="post-buttons" title="dislikes"><%= dislikesCount %> dislikes</button>
                </form>
            </div>

            <% if (user?._id.equals(post.user)) { %>
            <button type="submit" class="post-buttons" title="edit post"><a href="/posts/<%= post._id %>/edit">Edit</a></button>
            <% } %>

            <% if (user?._id.equals(post.user)) { %>
                <form action="/posts/<%= post._id %>?_method=DELETE" class="delete-form" method="POST">
                    <button class="post-buttons" type="submit" title="delete post">X</button>
                </form>
            <% } %>
              
        </div>

        <% if (user) { %>
            <h4>Leave a comment...</h4>
            <form id="add-comment-form" method="POST" action="/posts/<%= post._id %>/comments">
                <textarea name="content" id="myTextarea" cols="30" rows="5"></textarea>
                <!-- text editor for textarea -->
                    <script>
                        tinymce.init({ 
                            selector: 'textarea#myTextarea',
                            // plugins: 'autolink lists link image charmap print preview',
                            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
                        });
                    </script>
                <br />
                <button class="post-buttons" type="submit" value="Add Comment" title="add comment">Add Comment</button>
            </form>
        <% } %>

       
        <br />

        <% if (post.comments.length) { %>
            <div>  
                <% post.comments.forEach(function(c) { %>
                    <div class="post-comment">
                        <div class="user-post"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></div>
                        <div id="post-date"><%= c.createdAt.toLocaleDateString() %></div>
                    </div>
                    <div><%- c.content %></div>
                    <div>
                        <% if (user?._id.equals(c.user)) { %>
                            <form action="/comments/<%= c._id %>?_method=DELETE" class="post-buttons" method="POST">
                                <button type="submit" class="post-buttons" title="delete comment">Delete Comment</button>
                            </form>
                        <% } %>
                    </div>
                    <hr />
                <% }); %>
            </div>
        <% } else { %>
            <h5>No Comments Yet!</h5>
            
        <% } %>
    </section>

<%- include('../partials/footer') %>