<%- include('../partials/header') %>

<section id="show-page">
    <div><strong><%= post.title %></strong></div>
    <div><%= post.content %></div>
</section>
<% if (user?._id.equals(post.user)) { %>
<button type="submit" id="edit-btn"><a href="/posts/<%= post._id %>/edit">Edit Post</a></button>
<% } %>

<br />


<h2>Any thoughts?</h2>
<% if (user) { %>
<form id="add-comment-form" method="POST" action="/posts/<%= post._id %>/comments">
    <textarea name="content" id="" cols="30" rows="5"></textarea>
    <input id="comment" type="submit" value="Add Comment">
   
</form>
<% } %>

<br />
<br />

<% if (post.comments.length) { %>
    <div>
        <% post.comments.forEach(function(c) { %>
            <div class="user-comments"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></div>
            <div><%= c.createdAt.toLocaleDateString() %></div>
            <div><%= c.content %></div>

            <!-- <button type="submit" id="edit-btn"><a href="/comments/<%= c._id %>/edit">Edit Comment</a></button> -->
            
            <div>
                <% if (user?._id.equals(c.user)) { %>
                    <form action="/comments/<%= c._id %>?_method=DELETE" class="delete-form" method="POST">
                    <button type="submit" id="comment">Delete Comment</button>
                    </form>
                <% } %>
            </div>
           
        <% }); %>
        
    </div>
<% } else { %>
    <h5>No Comments Yet!</h5>
    
<% } %>

<%- include('../partials/footer') %>