<%- include('../partials/header') %>

    <section id="show-page">
        <div class="post-card">
            <div id="post-title"><strong><%= post.title %></strong></div>
            <div><%- post.content %></div>
        </div>

        <% if (user?._id.equals(post.user)) { %>
        <button type="submit" id="edit-btn"><a href="/posts/<%= post._id %>/edit">Edit Post</a></button>
        <% } %>

        <br />


        <h4>Leave a comment...</h4>
        <% if (user) { %>
        <form id="add-comment-form" method="POST" action="/posts/<%= post._id %>/comments">
                <textarea name="content" id="myTextarea" cols="30" rows="5"></textarea>
            <script>
                tinymce.init({ 
                selector: 'textarea#myTextarea',
                plugins: 'autolink lists link image charmap print preview',
                toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
                });
            </script>
            <br />
            <input class="post-buttons" type="submit" value="Add Comment">
        
        </form>
        <% } %>

        <br />
        <br />

        <% if (post.comments.length) { %>
            <div>
                <% post.comments.forEach(function(c) { %>
                    <div class="post-comment">
                        <div class="user-post"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></div>
                        <div id="post-date"><%= c.createdAt.toLocaleDateString() %></div>
                    </div>
                    <div><%- c.content %></div>

                    <!-- <button type="submit" id="edit-btn"><a href="/comments/<%= c._id %>/edit">Edit Comment</a></button> -->
                    
                    <div>
                        <% if (user?._id.equals(c.user)) { %>
                            <form action="/comments/<%= c._id %>?_method=DELETE" class="post-buttons" method="POST">
                            <button type="submit" class="post-buttons">Delete Comment</button>
                            </form>
                        <% } %>
                    </div>
                    <hr />
                <% }); %>
                
            </div>
        <% } else { %>
            <h5>No Comments Yet!</h5>
            
        <% } %>
    </section>
<%- include('../partials/footer') %>